.general-auth-home {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
}

.greetings-auth-home {
    text-align: center;
    padding-top: 1.3rem;
    padding-left: 13rem;
    color: #3b4946;
}

.container-home-auth {
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    padding-left: 13rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.div-container-graph-access {
    flex: 2;
    min-width: 450px;
}

.graph-wallet {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    min-height: 440px;
    margin: 20px 10px 20px 20px;
}

.graph-wallet h3 {
    padding-left: 1.5rem;
    padding-top: 0.7rem;
    font-size: 1.5rem;
    color: #4E635E;
}

.direct-access {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 20px 10px 20px 20px;
    padding: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.direct-access h3 {
    font-size: 1.5rem;
    color: #4E635E;
}

.container-new-access {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-new-access button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    background-color: #fff;
    color: #0f1111;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    font-size: 16px;
    line-height: 1.4;
    padding: 10px 16px;
    width: 150px;
    cursor: pointer;
    transition: all 0.2s ease;
}


.container-new-access button:hover {
    background-color: #e9f1ee;
    transform: translateY(-2px);
    box-shadow: rgba(213, 217, 217, .7) 0 3px 8px 0;
}

.container-new-access button svg {
    font-size: 25px;
    color: #4E635E;
}

.div-container-actions-portfolio {
    flex: 1;
    min-width: 450px;
}

.container-all-actions-portfolio {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 20px 25px 0 20px;
    padding: 10px;
}

.container-all-actions-portfolio h3 {
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    font-size: 1.5rem;
    color: #4E635E;
}

.portfolio-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    background-color: #fff;
    color: #0f1111;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    font-size: 16px;
    line-height: 1.4;
    padding: 10px 16px;
    width: 150px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.button-link:hover {
    background-color: #e9f1ee;
    transform: translateY(-2px);
    box-shadow: rgba(213, 217, 217, .7) 0 3px 8px 0;
}

.button-link svg {
    font-size: 25px;
    color: #4E635E;
}

