.main-container-AH {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    background-color: #F5F5F5;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    padding-left: 15rem;
}

.greating-admin {
    display: flex;
    width: 100%;
    height: 6rem;
    border-radius: 25px;
    padding: 40px;
    justify-content: center;
    color: #40524e;
}

.sections-configurate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 4rem 0 0;
}

.section-tables {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-actions {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tableContainer {
    height: 210px;
    overflow-y: auto;
    border-radius: 10px;
}

.container-UC {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.container-UC h3 {
    text-align: center;
    color: #4E635E;
}

.btnContainers {
    display: flex;
    height: 40px;
    border-radius: 18px;
    padding: 5px;
    gap: 5px;
    align-items: center;
    font-size: 15;
}

.btnContainers button {
    transition: all 0.3s ease; 
}

.btnContainers .h3 {
    margin: 0 0 0 200px;
    color: #40524e;
}

.btnContainers .selected {
    border: none;
    min-width: 160px;
    color: #40524e;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #40524e;
    background: none;
}

.btnContainers .waiting {
    border: none;
    min-width: 150px;
    background: none;
    color: #40524e;
    height: 40px;
    cursor: pointer;
}

.action-card-content-admin{
    height: 100%;
}

.actions-summary-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    padding: 1.5rem;
    width: 100%;
    height: 37.5rem;
}

.summary-header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.summary-header h3 {
    color: #4E635E;
    font-size: 25px;
    margin-top: 1rem;
}

.summary-actions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 33.7rem;
    overflow-y: auto;
}

.price-action-do-admin {
    display: flex;
    font-size: 18px;
    margin: 10px 0 10px 0;
    justify-content: center;
}

.category-action-do {
    display: flex;
    font-size: 18px;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.status-action-do {
    display: flex;
    font-size: 18px;
    justify-content: right;
    font-size: 18px;
    color: #4E635E;
}

.status-action-do strong {
    color: #216152;
}
