.main-container-portafolio{
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    overflow-x: auto;
}

.horizontal-container-portafolio{
    display: flex;
    gap: 30px;
    margin: 0 1.5rem 0 14rem;
    width: 100%;
}

.main-card-info-container-portafolio{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    border-radius: 25px;
    padding: 20px;
    gap: 30px;
}

.all-content {
    width: 100%;
}

.vertical-container-info-portafolio{
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    gap: 1.5rem;
    width: 100%;
}



/* Aqui empieza componente donde estan las acciones*/

.vertical-container-actions-portafolio input {
    border:none;
    outline:none;
    font-size:14px;
    background-color: transparent;
}


.vertical-container-actions-portafolio .date-inputs-portfolio p{
    font-size:13px;
    color: #6b776f;
}



.getPDF{
    display: flex;
    flex-direction: column;
}

.btn-get-pdf {
    background-color: #4E635E;
    color: #fff;
    width: 140px;
    height: 35px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.btn-get-pdf:hover {
    background-color: #40524e; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}





.btnContainers {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    padding: 5px;
    gap: 5px;
    align-items: center;
    font-size: 15;
}


.btnContainers button {
    transition: all 0.3s ease; 
}

.btnContainers .h3 {
    margin: 0 0 0 200px;
    color: #40524e;
}

.btnContainers .selected {
    border: none;
    min-width: 160px;
    color: #40524e;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #40524e;
    background: none;
}

.btnContainers .waiting {
    border: none;
    min-width: 150px;
    background: none;
    color: #40524e;
    height: 40px;
    cursor: pointer;
}




.reportAlert{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reportAlert .date{
    font-size: 15px;
    color: #8e8e8e;
}


.reportAlert .text{
    font-size: 19px;
}