.main-container-portafolio{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.sidebar-fixed{
    position: fixed;
    margin: 0px;
    width: 200px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.horizontal-container-portafolio{
    width: 100%;
    display: flex;
    gap: 28px;
    margin: 0 1.5rem 0 13rem;
}

.vertical-container-info-portafolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0 0 20px;
    gap: 1.5rem;
    
}

.cap-container-portafolio{
    display: flex;
    gap: 20px;
}



.vertical-container-actions-portafolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    border-radius: 32px;
    margin: 0 0 20px 0;
    border: 1px solid #cad0c5;
}



.card-ve {
    background: #f5f7fb;
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    margin: 30px 0 0 0;
}

.card-title {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.card-btn {
    background: white;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

