.main-container-portafolio{
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
}

.horizontal-container-portafolio{
    display: flex;
    gap: 28px;
    margin: 0 1.5rem 0 14rem;
    width: 100%;
}

.card-info-container-portafolio3 {
    display: flex;
    width: 100%;
    height: 22.5rem;
    background-color: #fcfcfc;
    border-radius: 25px;
    padding: 20px;
    gap: 30px;
}

.card-info-container-portafolio2 {
    display: flex;
    width: 100%;
    background-color: #fcfcfc;
    border-radius: 25px;
    padding: 20px;
    gap: 30px;
}

.all-content {
    width: 100%;
}

.vertical-container-info-portafolio{
    display: flex;
    flex-direction: column;
    margin: 40px 0 20px 20px;
    gap: 1.5rem;
    width: 80%;
}

.cap-container-portafolio{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


/* Aqui empieza componente donde estan las acciones*/
.vertical-container-actions-portafolio{
    position: fixed;
}

.aux-conteiner-p{
    border-left: 1px solid rgba(107, 119, 111, .224);
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 20px auto;
    display: flex
}

.btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.btn-container a{
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    gap: 10px;
    margin: 30px 0 0 0;
    background-color: #e0e3de;
    border: none;
    bottom: 1px 0 1px 0 #40524e;
    color: #40524e;
    cursor: pointer;
    width: 100%;
    max-height: 48.8px;
}


.btn-get-date-email-portfolio {
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    gap: 10px;
    margin: 30px 0 0 0;
    background-color: #e0e3de;
    border: none;
    color: #40524e;
    cursor: pointer;
    width: 100%;
}



.btn-get-date-email-portfolio .btn-title {
    font-size: 14px;
    color: #4e635e;
    margin: 0;
}

.inputs-date-portfolio{
    display: flex;
    margin: 15px 0 0 0;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.date-inputs-portfolio{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:8px;
    width: 200px;
    min-height: 30px;
    background-color: transparent;
    padding:8px 10px;
    border-radius:8px;
}

.vertical-container-actions-portafolio input {
    border:none;
    outline:none;
    font-size:14px;
    background-color: transparent;
}

.date-inputs-portfolio p{
    
}

.vertical-container-actions-portafolio .date-inputs-portfolio p{
    font-size:13px;
    color: #6b776f;
}



.getPDF{
    display: flex;
    flex-direction: column;
}

.btn-get-pdf {
    background-color: #4E635E;
    color: #fff;
    width: 140px;
    height: 35px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.btn-get-pdf:hover {
    background-color: #40524e; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}





.btnContainers {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    padding: 5px;
    gap: 5px;
    align-items: center;
    font-size: 15;
}


.btnContainers button {
    transition: all 0.3s ease; 
}

.btnContainers .h3 {
    margin: 0 0 0 200px;
    color: #40524e;
}

.btnContainers .selected {
    border: none;
    min-width: 160px;
    color: #40524e;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #40524e;
    background: none;
}

.btnContainers .waiting {
    border: none;
    min-width: 150px;
    background: none;
    color: #40524e;
    height: 40px;
    cursor: pointer;
}