.main-container-portafolio{
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
}

.horizontal-container-portafolio{
    display: flex;
    gap: 28px;
    margin: 0 1.5rem 0 14rem;
    width: 100%;
}

.vertical-container-info-portafolio{
    display: flex;
    flex-direction: column;
    margin: 40px 0 20px 20px;
    gap: 1.5rem;
    width: 80%;
}

.cap-container-portafolio{
    display: flex;
    gap: 20px;
    width: 100%;
}

.vertical-container-actions-portafolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    margin: 20px auto;
    border-left: 1px solid #6b776f39;
}

.inputs-date-portfolio{
    display: flex;
    margin: 15px 0 0 0;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.date-inputs-portfolio{
    display:flex;
    align-items:center;
    gap:8px;
    width: 200px;
    background: #ffffff;
    padding:8px 10px;
    border-radius:8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}

.vertical-container-actions-portafolio input {
    border:none;
    outline:none;
    font-size:14px;
}

.vertical-container-actions-portafolio .date-inputs-portfolio p{
    font-size:13px;
    color: #6b776f;
}

.algo {
    display: flex;
}
.btn-get-date-email-portfolio {
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    gap: 10px;
    box-shadow: 0 2px 6px #40524e31;
    margin: 30px 0 0 20px;
    border: none;
    color: #40524e;
    cursor: pointer;
    width: 100%;
}

.btn-get-date-email-portfolio .btn-title {
    font-size: 14px;
    color: #4e635e;
    margin: 0;
}


.algo a{
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    gap: 10px;
    box-shadow: 0 2px 6px #40524e31;
    margin: 30px 0 0 20px;
    border: none;
    color: #40524e;
    cursor: pointer;
    width: 100%;
    background-color: #f0f0f0;
    max-height: 48.8px;
}


.getPDF{
    display: flex;
    flex-direction: column;
}

.btn-get-pdf {
    background-color: #4E635E;
    color: #fff;
    width: 140px;
    height: 35px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.btn-get-pdf:hover {
    background-color: #40524e; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
