.page-container {
    position: relative;
    min-height: 100dvh;
    background: #f5f5f5;
}

.action-container {
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.01);
    border-radius: 30px;
    margin: 20px 2rem 20px 14rem;
    padding: 32px 24px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-divspace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 16px;
    padding-bottom: 8px; */
    /* background-color: tomato; */
}

.cards-divspace {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
}
