.page-container {
    position: relative;
    min-height: 100vh;
    background: #f5f5f5;
}

.action-container {
    margin-left: 13rem;
    padding: 24px;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
