.page-container {
    position: relative;
    min-height: 100dvh;
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
}

.div-category {
    gap: 16px;
    margin-left: 72px;
    max-width: 40dvh;                 
    height: 100dvh;
    padding: 28px;
    background: #fff;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    box-shadow: 12px 0 24px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-left: 2px solid #4e635e;
    align-items: center;
    align-self: center;
    text-align: center;
}

.div-category h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #4e635e;
    padding-bottom: 12px; 
}

/* Se crea de que la barrita grisita abajo del titulo de categoria*/
.div-category h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 12px auto 0;
    background: #a3a3a3;
    border-radius: 2px;
}


.categories-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-height: 0;                    
    overflow-y: auto;
    padding-right: 6px;
}

.category-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: 0;
    padding: 0;                      
    text-align: left;
    cursor: pointer;
    color: #90a19c;                   
    outline: none;
}

.category-item:hover .category-name {
    color: #4e635e;
}

.category-item.is-active .category-name {
    color: #111;
    font-weight: 600;
}

.category-name {
    max-width: 70%;
    overflow: hidden;
    margin-right:10px;
}

.capsule-number {
    min-width: 30px;
    padding: 1.5px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border-radius: 999px;
    background: #f1f1f1;              
    color: #4e635e;
}

.capsule-number-active {
    background: #a6b29e;              
    color: #fff;
}