.page-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100dvh; 
    background: #f5f5f5;
    overflow: hidden; 
}

.div-category {
    gap: 16px;
    margin-left: 72px;
    max-width: 40dvh;                 
    height: 100dvh;
    padding: 28px;
    background: #fff;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    box-shadow: 12px 0 24px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #4e635e;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    position: sticky;
    top: 0;
}

.div-category h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #4e635e;
    padding-bottom: 12px; 
}

/* Se crea de que la barrita grisita abajo del titulo de categoria*/
.div-category h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 12px auto 0;
    background: #a3a3a3;
    border-radius: 2px;
}


.categories-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-height: 0;                    
    overflow-y: auto;
    padding-right: 6px;
}

.category-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: 0;
    padding: 0;                      
    text-align: left;
    cursor: pointer;
    color: #90a19c;                   
    outline: none;
}

.category-item:hover .category-name {
    color: #4e635e;
}

.category-item.is-active .category-name {
    color: #111;
    font-weight: 600;
}

.category-name {
    max-width: 70%;
    overflow: hidden;
    margin-right:10px;
}

.capsule-number {
    min-width: 30px;
    padding: 1.5px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border-radius: 999px;
    background: #f1f1f1;              
    color: #4e635e;
}

.capsule-number-active {
    background: #a6b29e;              
    color: #fff;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
    overflow-y: auto; 
    width: 100%;
}

.action-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.buttons-modal {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 20px;
}

.buttons-modal button {
    padding: 0.5rem 1rem;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-modal .primary-btn {
    background-color: #4e635e;
    color: #fff;
}

.buttons-modal .primary-btn:hover {
    background-color: #364743;
}

.buttons-modal .cancel-btn {
    background-color: #e5e5e5;
}

.buttons-modal .cancel-btn:hover {
    background-color: #c7c5c5;
}

p strong {
    font-weight: 600;
}

.no-actions {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90dvh;
    text-align: center;
    border: 2px dashed #c8c8c8;
    border-radius: 20px;
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.no-actions:hover {
    background: #f3f3f3;
    color: #3a4944;
}

.no-actions-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
    animation: float 2.5s ease-in-out infinite;
    fill: #555555;
}

/* animacion para cuando no hay acciones para la categoria, de que va de arriba hacia abajo */
/* aca el negativo indica que va hacia arriba (solo para el inicio) */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}