.cardActionAdmin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 50px;
    height: 10rem;
    width: 10rem;
    border-radius: 20px;
    padding: 50px;
}

/* .cardActionAdmin ::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 12px auto 0;
    background: #a3a3a3;
    border-radius: 2px;
} */
