.main-container-AP {
    display: flex;
    flex: 1;
    gap: 20px;
    border-radius: 20px;
    background-color: #fcfcfc;
    padding: 1vw;
    min-height: 14vh;
    align-items: center;
}

.svg-container-AP{
    min-width: 40px;
    height: 40px;
    background-color: #e0e3de;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #4e635e;
}



.container-info1-AP h1 {
    font-size: 20px;
    margin: 0 0 6px 0;
    color: #222222;
}

.container-info1-AP p {
    margin: 4px 0;
    font-size: 12px;
    color: #555555;
}

.container-info2-AP {
    display: flex;
    justify-content: flex-end;
    width: 65%;
}

.container-info2-AP p {
    font-size: 13px;
    width: 100%;
    text-align: end;
}