.btn {
    margin: 10px;
}

.lbl-switch {
    display: inline-block;
    width: 35px;
    height: 20px;
    background-color: rgb(139, 139, 139);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

.btn input:checked + .lbl-switch {
  background-color: rgb(36, 180, 7);
}

.lbl-switch:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 100px;
    top: 3px;
    left: 4px;
    transition: 0.3s;
}

.btn input:checked + .lbl-switch:after  {
    left: 18px;
}

.btn input {
    display: none;
}
