.card-info-container-portafolio {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.graph {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.more-Info-portafolio {
  display: flex;
  justify-content: center;
  gap: 12px;
}


.data-container-portafolio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-container-portafolio .value {
  color: #888;   
  font-weight: 500;
}

.data-container-portafolio .label{
  color: #000;   
  font-weight: 600;
  text-align: start;
}


