.card-info-container-portafolio {
    display: flex;
    width: 100%;
    height: 20rem;
    border: 1px solid #cad0c5;
    border-radius: 25px;
    padding: 20px;
    gap: 30px;
}

.graph {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.more-Info-portafolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}


.data-portafolio {
  font-size: 16px;
  margin: 4px 0;
}

.data-portafolio .label {
  color: #888;   
  font-weight: 500;
}

.data-portafolio .value {
  color: #000;   
  font-weight: 600;
}


