.card-info-container-portafolio{
    display: flex;
    width: 100%;
    height: 20rem;
    border: 1px solid #cad0c5;
    border-radius: 25px;
    padding: 20px;
    gap: 30px;
}

.graph{
    width: 50%;
    height: 100%;
    background-color: bisque; 
}
.more-Info-portafolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    width: 70%;
    gap: 20px;
}

.data-container-portafolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.data-portafolio{
    font-size: 20px;
}


