.modal-overlay {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background: rgba(0,0,0,0.5); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
    padding: 16px;
}

.modal-card {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    max-width: 95%;
    min-width: 300px;
    max-height: 95%;
    min-height: 125px;
}

.modal-header {
    background: #4e635e;
    color: #fff;
    padding: 10px 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.modal-body {
    padding: 15px;
    text-align: center;
    color: #000;
}
