.container-searcher{
    min-width: 200px;
    min-height: 40px;
    border-radius: 13px;
    position: relative;
    color: #f5f6f4;
    box-shadow: 1px 0 5px 0 rgb(0, 0, 0, 0.12);
}

.container-searcher input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 13px;
    height: 40px;
    padding: 0 60px 0 20px;
}

.container-searcher .btn-searcher {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 14px;
    border: none;
    background-color: none;
    background: none;
}

.container-searcher .btn-searcher svg {
    width: 23px;
    height: 23px;
    color: #4E635E;
}

.container-searcher input::placeholder{
    color: #4E635E;
}

