.main-container-TA {
    width: 100%;         
}

.table-TA {
    width: 100%;
    border-spacing: 0 8px;
    table-layout: fixed;
}

.table-TA thead th {
    position: sticky;
    top: 0;
    border-bottom: 0.5px solid #40524e84;
    color: #40524e;
    background: #f5f5f5;
    padding: 10px;   
    z-index: 10 ;
}

.table-TA tbody td:hover {
    border-bottom: 0.5px solid #40524e84;
}

.table-TA  td {
    padding: 5px;
    text-align: center;
    background-color: #fcfcfc;
    color: #797878;
}

.table-TA tbody tr:hover {
    border-bottom: 1px solid #40524e;
}

.table-TA td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table-TA td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
