.main-container-auth-redirect{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container-auth-redirect{
    display: flex;
    height: 40vh;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #8ca19b89;
    min-width: 500px;
    max-width: 500px;
}

.info-container-ARG {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    gap: 10px;
}

.info-container-ARG svg {
    color: #4d5d58;
    width: 50px;
    height: 50px;
}

.info-container-ARG p{
    text-align: center;
 }
