.main-container-auth-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #fcfcfc;
}

.container-auth-redirect {
    text-align: center;
    color: #729c87;
}

.info-container-ARG svg {
    color: #4d5d58;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.info-container-ARG p {
    font-size: 14px;
    color: #4e635e;
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
