.main-container-AT {
    display: flex;
    background-color: #F5F5F5;
    align-items: end;
    justify-content: center;   
    flex-direction: column;
    overflow: hidden;  
    height: 100vh;
}

.header-AT{
    display: flex;
    gap: 20px;
    margin: 2.5rem 6rem 0 16rem;
}

.table-transaction-AT {
    display: flex;
    min-height: 80%;
    flex-direction: column;
    gap: 28px;
    margin: 2rem 4rem 3rem 16rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.open-filter-btn{
    border-radius: 12px;
    padding: 16px 20px;
    max-height: 40px;
    display: flex;
    align-items: center;
    background-color: #e0e3de;
    border: none;
    color: #40524e;
    cursor: pointer;
    gap: 2px;
}



.filter {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 200px;
    padding: 10px;
    gap: 10px;
    z-index: 999;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .1);
}

.filter-segments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:0.5px dashed #40524e2f;
    border-radius: 5px;
    padding: 7px;
}

.filter-segments p {
    font-size: 15px;
    color: rgb(81, 81, 81);
}

.date-inputs-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.date-inputs-filter p{
    font-size: 10px;
}
.filter-segments select {
    margin: 0 0 0 50px;
    border: none;
}

.filter-segments select:focus {
  outline: none;
  box-shadow: none;
}

.filter-segments input {
    border: none;
}

.apply-filter-btn {
    background-color: #4E635E;
    color: #fff;
    width: 140px;
    height: 35px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.apply-filter-btn:hover {
    background-color: #40524e; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}