.main-container-AT {
    display: flex;
    background-color: #F5F5F5;
    align-items: end;
    justify-content: center;   
    flex-direction: column;
    overflow: hidden;  
    height: 100vh;
}

.header-AT{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 2.5rem 6rem 0 16rem;
}



.table-transaction-AT {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 2rem 4rem 3rem 16rem;
    overflow-y: auto;
    overflow-x: hidden;
}