.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  color: black;
}

.container-detail {
  max-width: 100%;
  margin-left: 5rem;
  padding: 16px 16px;
  background-color: #f5f5f5;
  border: 0;
}
