.global-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  color: black;
  box-sizing: border-box;
}

.global-container.private-view {
  min-height: 100vh;
}

.global-container.public-view {
  flex: 1;
  min-height: auto;
}

.private-view .container-detail {
  margin: 1rem 1rem 1rem 5.5rem;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.public-view .container-detail {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  padding: 16px 24px 0 24px;
}

.search-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 8px;
}
