.main-container-auth-redirect-especific{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container-auth-redirect-especific{
    display: flex;
    height: 40vh;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #8ca19b89;
    min-width: 500px;
    max-width: 500px;
}

.info-container-AR {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #4d5d58;
    padding: 15px;
    border-radius: 10px;
    height: 70%;
    gap: 10px;
}

.info-container-AR svg {
    color: #4d5d58;
    width: 50px;
    height: 50px;
}

.info-container-AR p{
    text-align: center;
 }

.container-auth-redirect-especific a{
    padding: 10px;
    border: 1px solid #4d5d58;
    border-radius: 10px;
    background-color: #4d5d58;
    color: white;
}

.container-auth-redirect-especific a:hover{
    background-color: #3f4c48;
}